<!DOCTYPE html>
<% include templates/head.ejs %>
<head>
	<link rel="stylesheet" href="/stylesheets/viewProfile.css">
</head>
<script>
        var data = <%- JSON.stringify(data) %>;
</script>
<html lang="en">
	<% include templates/sidebars.ejs %>
    <!-- Use any element to open the sidenav -->
		
	<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
	<div id="wrapper">
		<div id = "page-content-wrapper">
            <div class="container-fluid">
				    <div id="info-column" class="col-sm-8">
				    	<h5>Type of Virtual Machine that will be Monitored:</h5>
		    			<form method="post">
			    			<div class="form-group">
                            	<div class="jumbotron">
								    <select id="provider">
								        <option value="">-- Select --</option>
								    </select>
								    <select id="locale">
								        <option value="">-- Select --</option>
								    </select>
								    <select id="instance">
								        <option value="">-- Select --</option>
								    </select>
								    <input type="hidden" id="provider_choice" name="provider_choice"></input>
								    <input type="hidden" id="locale_choice" name="locale_choice"></input>
								    <input type="hidden" id="instance_choice" name="instance_choice"></input>
								    <input type="text" name="port"></input>
								    <input type="text" name="ping"></input>
								    <br>
								    <button name="action" class="btn btn-success" type="submit" value="download">Download</button>
								 </div> 
                            </div>
                        </form>
				    </div>
				</div>					
			</div>
		</div>
	</div>
<script>
var current_service = 0;
var current_locale = 0;
$(document).ready(function () {
	let i = 0;
    data.forEach(function(e) {
        // APPEND OR INSERT DATA TO SELECT ELEMENT.
        $('#provider').append('<option value="' + i + '">' + e.service + '</option>');
        ++i;
    });
});
//TODO :: reverse remove loop for browser compatibility
// SHOW SELECTED VALUE.
$('#provider').change(function () {
    document.getElementById('provider_choice').value = this.options[this.selectedIndex].text;
    current_service = this.selectedIndex - 1;
    let i = 0;
    var select = document.getElementById("locale");
	var length = select.options.length;
	for (i = 0; i < length; i++) {
	  	select.options[i] = null;
	}
    data[current_service].locales.forEach(function(e) {
        // APPEND OR INSERT DATA TO SELECT ELEMENT.
        $('#locale').append('<option value="' + i + '">' + e.location + '</option>');
        ++i;
    });
});
$('#locale').change(function () {
    document.getElementById('locale_choice').value = this.options[this.selectedIndex].text;
    current_locale = this.selectedIndex - 1;
    let i = 0;
    var select = document.getElementById("instance");
	var length = select.options.length;
	for (i = 0; i < length; i++) {
	  	select.options[i] = null;
	}
    data[current_service].locales[this.selectedIndex - 1].types.forEach(function(e) {
        // APPEND OR INSERT DATA TO SELECT ELEMENT.
        $('#instance').append('<option value="' + i + '">' + e.type + '</option>');
        ++i;
    });
});
$('#instance').change(function () {
    document.getElementById('instance_choice').value = data[current_service].locales[current_locale].types[this.selectedIndex - 1].id;
});
</script>
</html>