<!DOCTYPE html>
<% include templates/head.ejs %>
<head>
	<link rel="stylesheet" href="/stylesheets/index.css">
</head>
<html lang="en">
	<% include templates/sidebars.ejs %>
    <!-- Use any element to open the sidenav -->
		
	<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
	<div id="wrapper">
		<div id = "page-content-wrapper">
            <div class="container-fluid">
            	<div class="row">
				    <div id="intro-column" class="col-sm">
				    	<div class="typewriter">
				    		<h1>Its time to reduce waste.</h1>
				    	</div>
				    </div>
				</div>
				<div class="row">
				    <div id="welcome-column" class="col-sm">
				    	<h2> Welcome to Cloud Monitoring </h2>
				    </div>
				    <div id="info-column" class="col-sm">
				    	<p>
				    		The goal of this project is to monitor any instance of a Virtual Machine in a cloud deployment without regard for where that Virtual Machine is in the cloud or even in a local network.  As long as that Virtual Machine has network access to this host it can relay probe data.  Data is logged and displayed to the application own with the intention of displaying cost and in particular waste in that Virtual Machine instance.
				    	</p>
				    </div>
				</div>					
			</div>
		</div>
	</div>
</html>